@import '~/node_modules/bootstrap/dist/bootstrap.css';
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 375px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 2em;
  text-align: center;
  margin: auto;
}

.App-intro {
  font-size: large;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#row{
  position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
}