@import '~/node_modules/bootstrap/dist/bootstrap.css';

.check{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: space-evenly;
  }

.direction {
    padding-top: 20px;
}