.Owner {
    width: 70%;
    margin: 0 auto;
    font-size: .9em;
}
.Owner-name {
    /* font-weight: 500; */
    display: inline-block;
    margin: 10px 5px 10px 5px;
}

.Owner-email {
    display: inline-block;
    margin: 10px 5px 10px 5px;
}