.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  text-align: center;
  margin: auto;
}

.App-intro {
  font-size: large;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}